/*Resest css style to nothing*/
        *
             {

                padding: 0px;
                margin: 0px;
                font-size: 100%;
                line-height: 1em;
             }

        body
            {
            
                background-color: #FFFEF9;
                font-family: 'Libre Baskerville', serif;
                color: #212121;

                
            }
            
        h1, h2, h3
            
            {
                font-weight: normal;
                text-align: center;
                padding:  20px;
                text-transform: uppercase; 
                letter-spacing: 5px;
            }
        
        h1
            {
                 font-size: 90px;
                 text-transform: uppercase;
                 letter-spacing: 5px;
                 color: #53080D;
                 font-weight: 600px;
                 text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
            }
        
        h2
            {
                font-size: 23px;
                color: #171B21;
                font-weight: 600;
                text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
            }
        h3
            {
                font-size: 28px;
                color: #53080D;
                font-weight: 800px;
                text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
            }

        p

            {
             line-height: 1.4em;
             margin-bottom: 10px;
             color: #171B21;
             font-size: 20px;
            }

        .subtitle
            {
                font-style: italic;
            }
            
        .intro
            {
                font-style: italic;
                font-size: 20px;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        
        a
            {
             color: #53080D;
             text-decoration: none;
             text-transform: uppercase;
             letter-spacing: 2px;    
            
            }
        
        a:hover
            {
             text-decoration: underline;
             color: navy;
            }

        small
            {
             font-size: 10px;

            }
        blockquote
            {
            padding: 20px;   
            }
        ul
            {   
            padding: 10px;   
            }
        nav
            {
             border-top: 1px solid #ddd;
             border-bottom: 1px solid #ddd;
            }
        
        nav ul
            {
             text-align: center;
             list-style-type: none;
            }
            
        nav ul li
            {
             display: inline;
             margin: 10px;
            }
        
        img
            {
             display: block;
             margin: 0 auto;
             padding: 20px;
             max-width: 100%;
            }

span.basker
{
    line-height: 1.4em;
}

span.and
{
    color: #53080D;
    font-size: 70px;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
}

span.john
{
    color: #53080D;
    font-weight: 600;
}

span.eaves
{
    color: #53080D;
    font-weight: 600;
}

span.letter
{
 position: relative;
 
}

/*Layout*/

article
{
    max-width: 800px;
    min-width: 300px;
    margin: 20px auto;
    
   
}

#section0
{
    margin-top: 310px;     
}

#section1
{
    margin-top: 450px;     
}

#section2
{
    margin-top: 450px;     
}

#section3
{
    margin-top: 400px;     
}

li
    {
     line-height: 1.4em;
     margin-bottom: 10px;
     color: #171B21;
     font-weight: 600;
    }

.topl
{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}



.topm
{
	float: middle;
    padding-left: 30px;
    padding-right: 30px;
}

.topr
{

	float: right;
    padding-right: 30px;
    margin-top: -210px;
}

#section4
{
    margin-top: 400px;     
}

#footer5
{
    margin-top: 180px;    
}